server/crewTemplates/customer_service.yaml
metadata:
  id: customer_service
  label: Customer Service Bot
  description: Conversational agent that answers customer questions about your website. The installer scrapes the site via the Bionic Search MCP and stores chunks as Letta archival passages, which the agent retrieves at chat time.
  mode: workflow
  icon: "💬"
  configSchema:
    - key: website_url
      label: Website URL
      type: url
      required: true
      placeholder: "https://example.com"
      description: "The site to scrape and answer questions about"
    - key: max_pages
      label: Max Pages to Scrape
      type: text
      required: false
      placeholder: "50"
      description: "Crawl depth limit (default 50)"
  postInstall: scrape_website
difyDsl: |
  app:
    description: "Customer service bot — RAG over scraped website content"
    icon: "\U0001F4AC"
    icon_background: "#FEF3C7"
    mode: workflow
    name: Customer Service
    use_icon_as_answer_icon: false
  kind: app
  version: 0.1.5
  workflow:
    conversation_variables: []
    environment_variables: []
    features: {}
    graph:
      edges:
      - {id: e1, source: start, sourceHandle: source, target: retrieve, targetHandle: target, type: custom}
      - {id: e2, source: retrieve, sourceHandle: source, target: extract_passages, targetHandle: target, type: custom}
      - {id: e3, source: extract_passages, sourceHandle: source, target: build_payload, targetHandle: target, type: custom}
      - {id: e4, source: build_payload, sourceHandle: source, target: answer, targetHandle: target, type: custom}
      - {id: e5, source: answer, sourceHandle: source, target: extract_answer, targetHandle: target, type: custom}
      - {id: e6, source: extract_answer, sourceHandle: source, target: end, targetHandle: target, type: custom}
      nodes:
      - data:
          title: Start
          type: start
          variables:
          - {label: Customer Question, max_length: 2000, required: true, type: paragraph, variable: question}
        id: start
        position: {x: 0, "y": 200}
        type: start
      - data:
          title: "Retrieve Site Content"
          type: http-request
          method: GET
          url: "{{auto.letta_base_url}}/v1/agents/{{auto.letta_agent_id}}/archival?search={{#start.question#}}&limit=6"
          headers: |
            Authorization: Bearer {{auto.letta_api_key}}
          params: ""
          body: {type: none}
          authorization: {type: no-auth}
          timeout: {connect: 10, read: 30, write: 10}
        id: retrieve
        position: {x: 250, "y": 200}
        type: http-request
      - data:
          title: "Extract Passages"
          type: code
          code_language: python3
          code: |
            import json
            def main(body: str) -> dict:
                try:
                    d = json.loads(body)
                    items = d if isinstance(d, list) else d.get("data", [])
                    formatted = "\n\n".join(
                        p.get("text","") for p in items
                    )
                    return {"context": formatted or "(no relevant pages found)"}
                except Exception as e:
                    return {"context": f"Error: {e}"}
          variables:
          - {variable: body, value_selector: ["retrieve", "body"]}
          outputs:
            context: {type: string}
        id: extract_passages
        position: {x: 450, "y": 200}
        type: code
      - data:
          title: "Build Reply Payload"
          type: code
          code_language: python3
          code: |
            import json
            def main(question: str, context: str) -> dict:
                site = "{{config.website_url}}"
                payload = {
                    "model": "qwen3.5-27b-fp8",
                    "messages": [
                        {"role": "system", "content": f"You are a helpful customer service agent for {site}. Answer using only the provided site content. Be concise, friendly, and accurate. If the answer isn't in the content, say so and offer to escalate."},
                        {"role": "user", "content": f"Customer asks: {question}\n\nRelevant site content:\n{context}"}
                    ],
                    "temperature": 0.4,
                    "max_tokens": 1000
                }
                return {"payload": json.dumps(payload)}
          variables:
          - {variable: question, value_selector: ["start", "question"]}
          - {variable: context, value_selector: ["extract_passages", "context"]}
          outputs:
            payload: {type: string}
        id: build_payload
        position: {x: 600, "y": 200}
        type: code
      - data:
          title: "Answer LLM"
          type: http-request
          method: POST
          url: "http://llm-deep.mcp.svc.cluster.local:8005/v1/chat/completions"
          headers: "Content-Type: application/json"
          params: ""
          body:
            type: raw-text
            data: "{{#build_payload.payload#}}"
          authorization: {type: no-auth}
          timeout: {connect: 10, read: 120, write: 30}
        id: answer
        position: {x: 800, "y": 200}
        type: http-request
      - data:
          title: "Extract Reply"
          type: code
          code_language: python3
          code: |
            import json
            def main(body: str) -> dict:
                try:
                    d = json.loads(body)
                    text = d["choices"][0]["message"]["content"]
                    if "<think>" in text:
                        text = text.split("</think>")[-1].strip()
                    return {"reply": text}
                except Exception as e:
                    return {"reply": f"Error: {e}"}
          variables:
          - {variable: body, value_selector: ["answer", "body"]}
          outputs:
            reply: {type: string}
        id: extract_answer
        position: {x: 1000, "y": 200}
        type: code
      - data:
          title: End
          type: end
          outputs:
          - {value_selector: ["extract_answer", "reply"], variable: result}
        id: end
        position: {x: 1200, "y": 200}
        type: end
