server/crewTemplates/customer_service.yaml
metadata:
  id: customer_service
  label: Customer Service Bot
  description: Conversational agent that answers customer questions about your website. The installer scrapes the site via the Bionic Search MCP and stores chunks as Letta archival passages, which the agent retrieves at chat time.
  mode: workflow
  icon: 💬
  configSchema:
  - key: website_url
    label: Website URL
    type: url
    required: true
    placeholder: https://example.com
    description: The site to scrape and answer questions about
  - key: max_pages
    label: Max Pages to Scrape
    type: text
    required: false
    placeholder: '50'
    description: Crawl depth limit (default 50)
  postInstall: scrape_website
difyDsl: |
  app:
    description: "Customer service bot \u2014 RAG over scraped website content"
    icon: "\U0001F4AC"
    icon_background: '#FEF3C7'
    mode: workflow
    name: Customer Service
    use_icon_as_answer_icon: false
  kind: app
  version: 0.3.0
  workflow:
    conversation_variables: []
    environment_variables: []
    features: {}
    graph:
      edges:
      - id: e1
        source: start
        sourceHandle: source
        target: retrieve
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: start
          targetType: http-request
        selected: false
        zIndex: 0
      - id: e2
        source: retrieve
        sourceHandle: source
        target: extract_passages
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        selected: false
        zIndex: 0
      - id: e3
        source: extract_passages
        sourceHandle: source
        target: build_payload
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: code
          targetType: code
        selected: false
        zIndex: 0
      - id: e4
        source: build_payload
        sourceHandle: source
        target: answer
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        selected: false
        zIndex: 0
      - id: e5
        source: answer
        sourceHandle: source
        target: extract_answer
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        selected: false
        zIndex: 0
      - id: e6
        source: extract_answer
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: code
          targetType: end
        selected: false
        zIndex: 0
      nodes:
      - data:
          title: Start
          type: start
          variables:
          - label: Customer Question
            max_length: 2000
            required: true
            type: paragraph
            variable: question
          desc: ''
          selected: false
        id: start
        position:
          x: 0
          y: 200
        type: custom
        positionAbsolute:
          x: 0
          y: 200
        height: 116
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Retrieve Site Content
          type: http-request
          method: GET
          url: '{{auto.letta_base_url}}/v1/agents/{{auto.letta_agent_id}}/archival?search={{#start.question#}}&limit=6'
          headers: 'Authorization: Bearer {{auto.letta_api_key}}

            '
          params: ''
          body:
            type: none
          authorization:
            type: no-auth
          timeout:
            connect: 10
            read: 30
            write: 10
          desc: ''
          selected: false
        id: retrieve
        position:
          x: 250
          y: 200
        type: custom
        positionAbsolute:
          x: 250
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Extract Passages
          type: code
          code_language: python3
          code: "import json\ndef main(body: str) -> dict:\n    try:\n        d = json.loads(body)\n        items = d if isinstance(d, list) else d.get(\"data\", [])\n        formatted = \"\\n\\n\".join(\n            p.get(\"text\",\"\") for p in items\n        )\n        return {\"context\": formatted or \"(no relevant pages found)\"}\n    except Exception as e:\n        return {\"context\": f\"Error: {e}\"}\n"
          variables:
          - variable: body
            value_selector:
            - retrieve
            - body
          outputs:
            context:
              type: string
          desc: ''
          selected: false
        id: extract_passages
        position:
          x: 450
          y: 200
        type: custom
        positionAbsolute:
          x: 450
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Build Reply Payload
          type: code
          code_language: python3
          code: "import json\ndef main(question: str, context: str) -> dict:\n    site = \"{{config.website_url}}\"\n    payload = {\n        \"model\": \"qwen3.5-27b-fp8\",\n        \"messages\": [\n            {\"role\": \"system\", \"content\": f\"You are a helpful customer service agent for {site}. Answer using only the provided site content. Be concise, friendly, and accurate. If the answer isn't in the content, say so and offer to escalate.\"},\n            {\"role\": \"user\", \"content\": f\"Customer asks: {question}\\n\\nRelevant site content:\\n{context}\"}\n        ],\n        \"temperature\": 0.4,\n        \"max_tokens\": 1000\n    }\n    return {\"payload\": json.dumps(payload)}\n"
          variables:
          - variable: question
            value_selector:
            - start
            - question
          - variable: context
            value_selector:
            - extract_passages
            - context
          outputs:
            payload:
              type: string
          desc: ''
          selected: false
        id: build_payload
        position:
          x: 600
          y: 200
        type: custom
        positionAbsolute:
          x: 600
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Answer LLM
          type: http-request
          method: POST
          url: http://llm-deep.mcp.svc.cluster.local:8005/v1/chat/completions
          headers: 'Content-Type: application/json'
          params: ''
          body:
            type: raw-text
            data: '{{#build_payload.payload#}}'
          authorization:
            type: no-auth
          timeout:
            connect: 10
            read: 120
            write: 30
          desc: ''
          selected: false
        id: answer
        position:
          x: 800
          y: 200
        type: custom
        positionAbsolute:
          x: 800
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Extract Reply
          type: code
          code_language: python3
          code: "import json\ndef main(body: str) -> dict:\n    try:\n        d = json.loads(body)\n        text = d[\"choices\"][0][\"message\"][\"content\"]\n        if \"<think>\" in text:\n            text = text.split(\"</think>\")[-1].strip()\n        return {\"reply\": text}\n    except Exception as e:\n        return {\"reply\": f\"Error: {e}\"}\n"
          variables:
          - variable: body
            value_selector:
            - answer
            - body
          outputs:
            reply:
              type: string
          desc: ''
          selected: false
        id: extract_answer
        position:
          x: 1000
          y: 200
        type: custom
        positionAbsolute:
          x: 1000
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: End
          type: end
          outputs:
          - value_selector:
            - extract_answer
            - reply
            variable: result
          desc: ''
          selected: false
        id: end
        position:
          x: 1200
          y: 200
        type: custom
        positionAbsolute:
          x: 1200
          y: 200
        height: 116
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      viewport:
        x: 0
        y: 0
        zoom: 0.7
