server/crewTemplates/deep_research.yaml
metadata:
  id: deep_research
  label: Deep Research
  description: Multi-source web research using the local Bionic Search MCP, synthesised by Qwen 3.5-27B into a structured report with citations.
  mode: workflow
  icon: "🔍"
  configSchema: []
  postInstall: none
difyDsl: |
  app:
    description: "Deep research crew — local MCP search + Qwen synthesis"
    icon: "\U0001F50D"
    icon_background: "#FFEAD5"
    mode: workflow
    name: Deep Research
    use_icon_as_answer_icon: false
  kind: app
  version: 0.3.0
  workflow:
    conversation_variables: []
    environment_variables: []
    features: {}
    graph:
      edges:
      - data: {isInIteration: false, sourceType: start, targetType: http-request}
        id: e1
        selected: false
        source: start
        sourceHandle: source
        target: search
        targetHandle: target
        type: custom
        zIndex: 0
      - data: {isInIteration: false, sourceType: http-request, targetType: code}
        id: e2
        selected: false
        source: search
        sourceHandle: source
        target: extract_results
        targetHandle: target
        type: custom
        zIndex: 0
      - data: {isInIteration: false, sourceType: code, targetType: code}
        id: e3
        selected: false
        source: extract_results
        sourceHandle: source
        target: build_synth_payload
        targetHandle: target
        type: custom
        zIndex: 0
      - data: {isInIteration: false, sourceType: code, targetType: http-request}
        id: e4
        selected: false
        source: build_synth_payload
        sourceHandle: source
        target: synthesize
        targetHandle: target
        type: custom
        zIndex: 0
      - data: {isInIteration: false, sourceType: http-request, targetType: code}
        id: e5
        selected: false
        source: synthesize
        sourceHandle: source
        target: extract_report
        targetHandle: target
        type: custom
        zIndex: 0
      - data: {isInIteration: false, sourceType: code, targetType: end}
        id: e6
        selected: false
        source: extract_report
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        zIndex: 0
      nodes:
      - data:
          desc: ''
          selected: false
          title: Start
          type: start
          variables:
          - {label: Query, max_length: 2000, required: true, type: text-input, variable: query}
          - {label: Limit, max_length: 4, required: false, type: text-input, variable: limit}
        height: 116
        id: start
        position: {x: 0, y: 200}
        positionAbsolute: {x: 0, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: "Search MCP"
          type: http-request
          method: POST
          url: "{{auto.mcp_search_url}}/search"
          headers: |
            Content-Type: application/json
            X-API-Key: {{auto.mcp_search_api_key}}
          params: ""
          body:
            type: raw-text
            data: '{"query":"{{#start.query#}}","limit":10}'
          authorization: {type: no-auth}
          timeout: {connect: 10, read: 60, write: 30}
        height: 88
        id: search
        position: {x: 304, y: 200}
        positionAbsolute: {x: 304, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: "Extract Results"
          type: code
          code_language: python3
          code: |
            import json
            def main(body: str) -> dict:
                try:
                    d = json.loads(body)
                    results = d.get("results", [])
                    formatted = "\n\n".join(
                        f"[{i+1}] {r.get('title','')}\n{r.get('url','')}\n{r.get('snippet','')}"
                        for i, r in enumerate(results)
                    )
                    return {"sources": formatted, "count": len(results)}
                except Exception as e:
                    return {"sources": f"Error: {e}", "count": 0}
          variables:
          - {variable: body, value_selector: ["search", "body"]}
          outputs:
            sources: {type: string}
            count: {type: number}
        height: 88
        id: extract_results
        position: {x: 608, y: 200}
        positionAbsolute: {x: 608, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: "Build Synthesis Payload"
          type: code
          code_language: python3
          code: |
            import json
            def main(query: str, sources: str) -> dict:
                payload = {
                    "model": "qwen3.6-35b-a3b-fp8-think",
                    "messages": [
                        {"role": "system", "content": "You are a research analyst. Synthesise the provided sources into a structured report with: 1) Executive Summary 2) Key Findings (with [n] citations) 3) Detailed Analysis 4) Conclusions. Cite sources by number."},
                        {"role": "user", "content": f"Research query: {query}\n\nSources:\n{sources}\n\nProduce the report."}
                    ],
                    "temperature": 0.4,
                    "max_tokens": 3000
                }
                return {"payload": json.dumps(payload)}
          variables:
          - {variable: query, value_selector: ["start", "query"]}
          - {variable: sources, value_selector: ["extract_results", "sources"]}
          outputs:
            payload: {type: string}
        height: 88
        id: build_synth_payload
        position: {x: 912, y: 200}
        positionAbsolute: {x: 912, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: "Synthesize Report"
          type: http-request
          method: POST
          url: "http://llm-deep.mcp.svc.cluster.local:8005/v1/chat/completions"
          headers: "Content-Type: application/json"
          params: ""
          body:
            type: raw-text
            data: "{{#build_synth_payload.payload#}}"
          authorization: {type: no-auth}
          timeout: {connect: 10, read: 180, write: 60}
        height: 88
        id: synthesize
        position: {x: 1216, y: 200}
        positionAbsolute: {x: 1216, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: "Extract Report"
          type: code
          code_language: python3
          code: |
            import json
            def main(body: str) -> dict:
                try:
                    d = json.loads(body)
                    text = d["choices"][0]["message"]["content"]
                    if "<think>" in text:
                        text = text.split("</think>")[-1].strip()
                    return {"report": text}
                except Exception as e:
                    return {"report": f"Error: {e}"}
          variables:
          - {variable: body, value_selector: ["synthesize", "body"]}
          outputs:
            report: {type: string}
        height: 88
        id: extract_report
        position: {x: 1520, y: 200}
        positionAbsolute: {x: 1520, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          desc: ''
          selected: false
          title: End
          type: end
          outputs:
          - {value_selector: ["extract_report", "report"], variable: result}
          - {value_selector: ["extract_results", "sources"], variable: sources}
        height: 116
        id: end
        position: {x: 1824, y: 200}
        positionAbsolute: {x: 1824, y: 200}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      viewport:
        x: 0
        y: 0
        zoom: 0.7
