server/crewTemplates/vision_inspector.yaml
metadata:
  id: vision_inspector
  label: Vision Inspector
  description: Take an image URL plus inspection criteria and return a structured inspection report (defects, observations, severity).
  mode: workflow
  icon: 👁️
  configSchema:
  - key: inspection_criteria
    label: Default Inspection Criteria
    type: textarea
    required: false
    placeholder: 'Check for: physical damage, color consistency, label alignment, missing components'
    description: Used when the runtime caller doesn't provide criteria
  postInstall: none
difyDsl: |
  app:
    description: "Vision inspector \u2014 image in, structured report out"
    icon: "\U0001F441"
    icon_background: '#F3E8FF'
    mode: workflow
    name: Vision Inspector
    use_icon_as_answer_icon: false
  kind: app
  version: 0.3.0
  workflow:
    conversation_variables: []
    environment_variables: []
    features: {}
    graph:
      edges:
      - id: e1
        source: start
        sourceHandle: source
        target: build_payload
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: start
          targetType: code
        selected: false
        zIndex: 0
      - id: e2
        source: build_payload
        sourceHandle: source
        target: vision
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: code
          targetType: http-request
        selected: false
        zIndex: 0
      - id: e3
        source: vision
        sourceHandle: source
        target: extract_report
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: http-request
          targetType: code
        selected: false
        zIndex: 0
      - id: e4
        source: extract_report
        sourceHandle: source
        target: end
        targetHandle: target
        type: custom
        data:
          isInIteration: false
          sourceType: code
          targetType: end
        selected: false
        zIndex: 0
      nodes:
      - data:
          title: Start
          type: start
          variables:
          - label: Image URL
            max_length: 1000
            required: true
            type: text-input
            variable: image_url
          - label: Criteria (optional)
            max_length: 2000
            required: false
            type: paragraph
            variable: criteria
          desc: ''
          selected: false
        id: start
        position:
          x: 0
          y: 200
        type: custom
        positionAbsolute:
          x: 0
          y: 200
        height: 116
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Build Vision Payload
          type: code
          code_language: python3
          code: "import json\ndef main(image_url: str, criteria: str) -> dict:\n    default = \"\"\"{{config.inspection_criteria}}\"\"\"\n    effective = criteria.strip() if criteria.strip() else default\n    payload = {\n        \"model\": \"qwen2.5-vl-7b\",\n        \"messages\": [\n            {\"role\": \"system\", \"content\": \"You are a vision inspector. Examine the image and produce a JSON report with fields: overall_status (pass|warn|fail), observations (list), defects (list of {description,severity}), recommendations (list). Output ONLY valid JSON.\"},\n            {\"role\": \"user\", \"content\": [\n                {\"type\": \"text\", \"text\": f\"Inspection criteria:\\n{effective}\"},\n                {\"type\": \"image_url\", \"image_url\": {\"url\": image_url}}\n            ]}\n        ],\n        \"temperature\": 0.2,\n        \"max_tokens\": 1500\n    }\n    return {\"payload\": json.dumps(payload)}\n"
          variables:
          - variable: image_url
            value_selector:
            - start
            - image_url
          - variable: criteria
            value_selector:
            - start
            - criteria
          outputs:
            payload:
              type: string
          desc: ''
          selected: false
        id: build_payload
        position:
          x: 250
          y: 200
        type: custom
        positionAbsolute:
          x: 250
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Vision LLM
          type: http-request
          method: POST
          url: http://llm-vision.mcp.svc.cluster.local:8006/v1/chat/completions
          headers: 'Content-Type: application/json'
          params: ''
          body:
            type: raw-text
            data: '{{#build_payload.payload#}}'
          authorization:
            type: no-auth
          timeout:
            connect: 10
            read: 180
            write: 60
          desc: ''
          selected: false
        id: vision
        position:
          x: 500
          y: 200
        type: custom
        positionAbsolute:
          x: 500
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: Extract Report
          type: code
          code_language: python3
          code: "import json\ndef main(body: str) -> dict:\n    try:\n        d = json.loads(body)\n        text = d[\"choices\"][0][\"message\"][\"content\"]\n        if \"<think>\" in text:\n            text = text.split(\"</think>\")[-1].strip()\n        return {\"report\": text}\n    except Exception as e:\n        return {\"report\": f\"Error: {e}\"}\n"
          variables:
          - variable: body
            value_selector:
            - vision
            - body
          outputs:
            report:
              type: string
          desc: ''
          selected: false
        id: extract_report
        position:
          x: 750
          y: 200
        type: custom
        positionAbsolute:
          x: 750
          y: 200
        height: 88
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      - data:
          title: End
          type: end
          outputs:
          - value_selector:
            - extract_report
            - report
            variable: result
          desc: ''
          selected: false
        id: end
        position:
          x: 1000
          y: 200
        type: custom
        positionAbsolute:
          x: 1000
          y: 200
        height: 116
        width: 244
        selected: false
        sourcePosition: right
        targetPosition: left
      viewport:
        x: 0
        y: 0
        zoom: 0.7
