k8s/research-crew-template.yml
app:
  description: "2-agent research crew: Researcher → Writer pipeline via local Qwen 3.5 27B"
  icon: "\U0001F50D"
  icon_background: "#FFEAD5"
  mode: workflow
  name: Research Crew
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    edges:
    - {id: e1, source: start, sourceHandle: source, target: researcher, targetHandle: target, type: custom}
    - {id: e2, source: researcher, sourceHandle: source, target: extract_research, targetHandle: target, type: custom}
    - {id: e3, source: extract_research, sourceHandle: source, target: build_writer_payload, targetHandle: target, type: custom}
    - {id: e4, source: build_writer_payload, sourceHandle: source, target: writer, targetHandle: target, type: custom}
    - {id: e5, source: writer, sourceHandle: source, target: extract_report, targetHandle: target, type: custom}
    - {id: e6, source: extract_report, sourceHandle: source, target: end, targetHandle: target, type: custom}
    nodes:
    - data:
        title: Start
        type: start
        variables:
        - {label: Task, max_length: 2000, required: true, type: text-input, variable: task}
        - {label: Context, max_length: 5000, required: false, type: paragraph, variable: context}
      id: start
      position: {x: 0, "y": 200}
      type: start
    - data:
        title: "Researcher Agent"
        type: http-request
        method: POST
        url: "http://llm-deep.mcp.svc.cluster.local:8005/v1/chat/completions"
        headers: "Content-Type: application/json"
        params: ""
        body:
          type: raw-text
          data: '{"model":"qwen3.5-27b-fp8","messages":[{"role":"system","content":"You are a Research Agent. Analyze the given task. Identify 3-5 key aspects. Provide detailed analysis with examples. Structure findings with clear headings. Output plain text only, no thinking process."},{"role":"user","content":"Task: {{#start.task#}}\nContext: {{#start.context#}}\nProvide research findings."}],"temperature":0.7,"max_tokens":2048}'
        authorization: {type: no-auth}
        timeout: {connect: 10, read: 120, write: 60}
      id: researcher
      position: {x: 250, "y": 200}
      type: http-request
    - data:
        title: "Extract Research"
        type: code
        code_language: python3
        code: |
          import json
          def main(body: str) -> dict:
              try:
                  d = json.loads(body)
                  text = d["choices"][0]["message"]["content"]
                  if "<think>" in text:
                      text = text.split("</think>")[-1].strip()
                  return {"research": text}
              except Exception as e:
                  return {"research": f"Error: {e}"}
        variables:
        - {variable: body, value_selector: ["researcher", "body"]}
        outputs:
          research: {type: string}
      id: extract_research
      position: {x: 450, "y": 200}
      type: code
    - data:
        title: "Build Writer Payload"
        type: code
        code_language: python3
        code: |
          import json
          def main(task: str, research: str) -> dict:
              payload = {
                  "model": "qwen3.5-27b-fp8",
                  "messages": [
                      {"role": "system", "content": "You are a Writer Agent. Create a professional report with: Executive Summary, Key Findings, Recommendations, Conclusion. Output plain text, no thinking process."},
                      {"role": "user", "content": f"Task: {task}\n\nResearch findings:\n{research}\n\nWrite a comprehensive report."}
                  ],
                  "temperature": 0.5,
                  "max_tokens": 3000
              }
              return {"payload": json.dumps(payload)}
        variables:
        - {variable: task, value_selector: ["start", "task"]}
        - {variable: research, value_selector: ["extract_research", "research"]}
        outputs:
          payload: {type: string}
      id: build_writer_payload
      position: {x: 600, "y": 200}
      type: code
    - data:
        title: "Writer Agent"
        type: http-request
        method: POST
        url: "http://llm-deep.mcp.svc.cluster.local:8005/v1/chat/completions"
        headers: "Content-Type: application/json"
        params: ""
        body:
          type: raw-text
          data: "{{#build_writer_payload.payload#}}"
        authorization: {type: no-auth}
        timeout: {connect: 10, read: 120, write: 60}
      id: writer
      position: {x: 800, "y": 200}
      type: http-request
    - data:
        title: "Extract Report"
        type: code
        code_language: python3
        code: |
          import json
          def main(body: str) -> dict:
              try:
                  d = json.loads(body)
                  text = d["choices"][0]["message"]["content"]
                  if "<think>" in text:
                      text = text.split("</think>")[-1].strip()
                  return {"report": text}
              except Exception as e:
                  return {"report": f"Error: {e}"}
        variables:
        - {variable: body, value_selector: ["writer", "body"]}
        outputs:
          report: {type: string}
      id: extract_report
      position: {x: 1000, "y": 200}
      type: code
    - data:
        title: End
        type: end
        outputs:
        - {value_selector: ["extract_report", "report"], variable: result}
        - {value_selector: ["extract_research", "research"], variable: research}
      id: end
      position: {x: 1200, "y": 200}
      type: end
